* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #222;
  width: 400px;
  margin: 0 auto;
  min-height: calc(100vh - 2.5rem);
  background-color: rgb(223, 255, 244);
  text-align: center;
}

form,
li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  margin-bottom: 0.5rem;
}

li {
  list-style: none;
  margin-bottom: 0.25rem;
}

li button {
  font-weight: 700;
}

h1 {
  margin: 2.5rem 0;
}

input[type="text"] {
  padding: 0.5rem;
  width: 400px;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

button {
  border: none;
  background-color: aquamarine;
  padding: 0.5rem 1rem;
  font-family: "Roboto", sans-serif;
}

.completed {
  text-decoration: line-through;
  color: rgb(165, 164, 164);
}
